h1 {
  color: white;
}

body {
  background-color: rgb(50, 50, 50);
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

.grid-pixel {
  width: 10px;
  height: 10px;
  background-color: lightskyblue;
  margin: 0;
}

.dark-pixel {
  background-color: darkcyan;
}
