body {
  background-color: rgb(50, 50, 50);
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 192px;
}

.grid-pixel {
  width: 10px;
  height: 10px;
  background-color: lightskyblue;
  margin: 1px;
}

.dark-pixel {
  background-color: darkcyan;
}
